/*
  Author: Evelyn Oo
  File Name: styles.css
*/

/* color-1: #654f3a
color-2: #281f15
color-3: #8b7d71
color-4: #b7a99e
color-5: #e7dfd8 */


/* CSS Reset */
body, header, nav, main, footer, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background-color: #fff;
  font-family: "Fira Sans", sans-serif;
}


/* Style rules for header content */
header {
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 3em;
  display: block;
}

header h1.banner-heading {
  display: inline-block;
  width: 80%;
  font-size: 1.5em;
  color: #281f15;
}


/* Style rules for navigation area */
nav {
  /* background-color: #2a1f14; */
  display: block;
  background-color: #282726; /* Same dark black as footer */
  color: #fff;            /* White text for links and branding */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: block;
  border-bottom: 1px solid #999;
}

nav li:last-child {
  border-bottom: none;
}

nav li a {
  display: block;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  /* text-align: center; */
  padding: 0.5em 2em;
  text-decoration: none;
  
}

/* Styles for Hero page body content */

/* Old styles */
.intro {
  /* margin: 3em 1em 1em 1em; */
  border: 1px solid #281f15;
  padding: 1em;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.20), 
    rgba(0, 0, 0, 0.35)
  ), url("../images/pots-and-pans.jpg");
  background-size: cover;
}

.intro .left-content {
  /* border: 1px solid #281f15; */
  margin: auto;
  width: 80%;
  padding: 0 1em;
  background: #fff;
  opacity: 0.5;
}

.intro .left-content p {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: #000;
  text-transform: uppercase;
}

.intro .right-content {
  display: none;
}

/* New styles */
#hero {
  width: 100%;
  margin: auto;
  padding: 0;
  /* position: absolute; */
}

.hero-content {
  height: auto;
  background-size: cover;
  position: relative;
}

.left {
  padding: 1rem 0 2rem 0;
  height: 400px;
  align-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.20), 
    rgba(0, 0, 0, 0.35)
  ), url("../images/pots-and-pans.jpg");
  background-size: cover;
}

.left-content {
  /* border: 1px solid #281f15; */
  margin: auto;
  width: 60%;
  padding: 1em;
  background: #fff;
  opacity: 0.5;
  position: relative;
}

.left-content p {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: #000;
  text-transform: uppercase;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradient-reverse {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient {
  background: linear-gradient(135deg, #e07357, #feb47b, #cc6c12, #a83232);
  /* background: linear-gradient(135deg, #3e2723, #795548, #a1887f, #d7ccc8); */
  background-size: 300% 300%;
  animation: gradientBackground 3s ease infinite;
}

.gradient-reverse {
  background: linear-gradient(135deg, #e07357, #feb47b, #cc6c12, #a83232);
  /* background: linear-gradient(135deg, #3e2723, #795548, #a1887f, #d7ccc8); */
  background-size: 300% 300%;
  animation: gradient-reverse 3s ease infinite;
}

.gradient:hover,
.gradient-reverse:hover {
  background: linear-gradient(-45deg, #feb47b, #ec935f, #d38569, #4d3122);
}

.right-content {
  /* border: 1px solid #281f15; */
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;           /* Center align items horizontally */
  text-align: center;            /* Center text inside the div */
}

.pots {
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 0.5em;
}

.pots h3 {
  font-size: 1.5em;
  font-weight: 400;
  overflow: hidden;
}

.pots p {
  font-weight: 300;
  overflow: hidden;
}


img.round {
  width: 200px; /* Sets a maximum width for the image */
  height: 200px; /* Maintains the aspect ratio */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
}


/* Style rules for footer content */
footer {
  background-color: #282726; /* Dark black background */
  color: #fff;            /* White text */
  padding: 50px 0;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h3 {
  margin-bottom: 20px;
  color: #f1f1f1; /* Light grey for headings */
}

.footer-section p,
.footer-section ul,
.footer-section li {
  font-size: 14px;
  line-height: 1.8;
  color: #ccc; /* Lighter gray text */
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;            /* White for links */
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section form {
  display: flex;
  margin-top: 10px;
}

.footer-section input[type="email"] {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px 0 0 3px;
  flex: 1;
  background-color: #222; /* Darker gray input */
  color: #fff;            /* White text for input */
}

.footer-section button {
  padding: 10px 20px;
  background-color: #fff; /* White button */
  color: #111;            /* Black text on button */
  border: none;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.footer-section button:hover {
  background-color: #ccc; /* Light gray on hover */
  color: #111;            /* Black text */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444; /* Thin gray border */
  padding-top: 20px;
  font-size: 13px;
  color: #777;              /* Lighter gray for footer bottom */
}

.footer-bottom a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

  .pots img{
    display: inline-block;
  }

  .pots p {
    display: inline-block;
    width: 60%;
    padding: 1em;
    height: 130px;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 961px), print {
  nav {
      width: 100%;
  }

  nav ul {
      text-align: center;
  }

  nav li {
      border: none;
      display: inline-block;
  }

  nav li a {
      padding: 0.5em 1em;
      font-size: 24px;
  }

  /* Styles for Hero page: OLD styles */
  .intro {
    flex-flow: row;
  }

  .intro .left-content {
    width: 40%;
  }

  .intro .right-content {
    /* border: 1px solid #281f15; */
    display: block;
    width: 50%;
    margin: auto;
  }

  .intro .right-content img {
    width: 100%;
    height: 100%;
    display: block;
  }
  /* End-Styles for Hero page: OLD styles */

  .right-content {
    flex-direction: row;
  }
  
  .pots {
    height: 450px;
    max-height: 490px;
    width: 333px;
    overflow: hidden;
  }

  .pots p {
    display: block;
    width: auto;
    padding: 0;
  } 
}


