
/* Styles for Team page */
/* Color notes
--white: #ffffff;
--dark-grey: #2c2c2c;
--light-grey: #f4f4f4;
--orange: #ff6f00;
--orange-hover: #ff8f00; 
*/

body {
  background-color: #f7f7f7;
}

#team {
  padding-top: 2em;
}

/* Team Introduction */
.team-introduction {
  text-align: center;
  margin-bottom: 40px;
  margin: 0 2rem;
  align-items: center;
  /* background-color: #3d3b38; */
  padding: 1rem;
  border-radius: 8px;
  border: 1.7px solid #D95D00;
}

.team-introduction h1 {
  color: #D95D00;
  font-size: 1.8rem;
}

.team-introduction p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #3f3e3e;
}

/* Team Members Section */
article {
  border-radius: 8px;
  margin: 1rem;
}

.team-members {
  margin-bottom: 40px;
  align-content: center;
}

.team-members h2 {
  color: #D95D00;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.team-members h2::after {
  content: '';
  position: absolute;
  bottom: -15px; /* Adjust this to control the distance between the text and the underline */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(to right, #D95D00, #2a28c4);
}

.team-group {
  margin-bottom: 30px;
}

.team-group h3 {
  color: #D95D00;
  font-size: 1.5rem;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team-list figure {
  text-align: center;
}

.team-list img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #D95D00;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
  color: #3d3b38;
}

/* Our Story Section */
.our-story {
  background-color: #464543;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 1rem 40px 1rem;
}

.our-story h2 {
  color: #D95D00;
}

.our-story p {
  font-size: 1.1rem;
  line-height: 1.6;
}


/* Tablet styles */
@media (min-width: 768px) {
  .team-introduction h1 {
      font-size: 2.2rem;
  }

  .team-introduction p {
      font-size: 1.3rem;
  }

  .team-list {
      justify-content: flex-start;
  }

  .team-list figure {
      width: 200px;
  }

  .team-list img {
      max-width: 180px;
  }

  .team-members {
      margin: 40px 0;
  }

  .our-story {
      margin: 2.5rem 1rem;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .team-introduction h1 {
      font-size: 2.5rem;
  }

  .team-introduction p {
      font-size: 1.2rem;
  }

  .team-list {
      justify-content: space-evenly;
  }

  .team-list figure {
      width: 250px;
  }

  .team-list img {
      max-width: 220px;
  }

  .team-members {
      margin: 60px 0;
  }

  .our-story {
      margin: 3.75rem 2rem;
  }
}